<section class="recomendaciones">
	<a href="<%= link_section%>" class="recomendaciones_link">
	    <img src='<%= img_section %>'>
	      <h4><%= titulo_section %></h4>
	      <p>
	      	<%= parrafo_section%>
	      </p>
	</a>
	<a href="/contact" class="recomendaciones_link">
	    <img src="/img/cripto.jpg">
	      <h4>Mas Informacion</h4>
	      <p>
	      	Si quieres mas informacion deja tus datos en el siguiente link.
	      </p>
	</a>
	<a href="<%= link_section2%>" class="recomendaciones_link">
	    <img src="<%= img_section2 %>">
	      <h4><b><%= titulo2_section %></b></h4>
	      <p>
	      	<%= parrafo2_section %>
	      </p>
	</a>
</section>